PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"

http_proxy="{{ proxy_server }}"
https_proxy="{{ proxy_server }}"
ftp_proxy="{{ proxy_server }}"
no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com"
HTTP_PROXY="{{ proxy_server }}"
HTTPS_PROXY="{{ proxy_server }}"
FTP_PROXY="{{ proxy_server }}"
NO_PROXY="localhost,127.0.0.1,localaddress,.localdomain.com"
